
div(style='padding-left: 300px; margin: 20px auto; width: 90%')
  .row
    h4.grey-text <i class="material-icons">perm_identity</i> Bio
    .col.s12.card-panel
      p= bio.join(" ")

    h4 <i class="material-icons">assignment</i> Employment
    .col.s12.card-panel
      for job in employment
        h5 #{job.role} @ <a href='#{job.placeurl}'>#{job.place}</a>
        small.grey-text= job.dates
        p= job.description.join(" ")

    h4 <i class="material-icons">done_all</i> Other Experience
    .col.s12.card-panel
      for stuff in experience
        h5 #{stuff.title}
        small.grey-text= stuff.subtitle
        p= stuff.description.join(" ")


    h4 <i class="material-icons">class</i> Education
    .col.s12.card-panel
      for school in education
        h5 #{school.course} @ <a href='#{school.placeurl}'>#{school.establishment}</a>
        small.grey-text= school.dates
        p= school.description.join(" ")



    h4 <i class="material-icons">list</i> Key Skills
    .col.s12.card-panel
      for skill in skills
        span(style='font-size:#{(skill.level / 6)+0.6}em; cursor: default', title='#{skill.type}: #{skill.name}. Competency: #{skill.level}/5') #{skill.name} &thinsp;


